<div
  *ngIf="editCreate; else elseCreate"
  class="container_popup_admin_login shadow-lg p-3 mb-5 bg-body-tertiary rounded"
>
  <form #f="ngForm" class="form p-3" (ngSubmit)="sendImages(f)">
    <div class="form-group container-sm">
      <div class="mb-3">
        <label for="nome" class="form-label" nome>Cadastre sua imagens</label>
        <input
          type="text"
          class="form-control"
          name="image"
          placeholder="Imagens"
          ngModel
        />
      </div>
      <div class="mb-3">
        <label for="nome" class="form-label" nome>Selecione o portifólio</label>
        <select
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
          name="category"
          ngModel
        >
          <option selected>Open this select menu</option>
          <option value="casamento">Casamento</option>
          <option value="aniversário">Aniversário</option>
          <option value="bodas">Bodas</option>
          <option value="parto">Parto</option>
        </select>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <button
          (click)="editCreateToggle()"
          type="submit"
          class="btn btn-primary"
        >
          Editar
        </button>
      </div>
    </div>
  </form>
</div>
<ng-template #elseCreate>
  <app-portifolio-edit-form
    (closeEditForm)="editCreateToggle()"
  ></app-portifolio-edit-form>
</ng-template>
