<div
  *ngIf="editCreate; else elseCreate"
  class="container_popup_admin_login shadow-lg p-3 mb-5 bg-body-tertiary rounded"
>
  <div class="modal-header">
    <p></p>
    <button
      routerLink="/menuadmin"
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <form #f="ngForm" class="form p-3" (ngSubmit)="sendImages(f)">
    <div class="form-group container-sm">
      <div class="mb-3">
        <label for="nome" class="form-label" nome>Cadastre sua imagens</label>
        <input
          type="text"
          class="form-control"
          name="image"
          placeholder="Imagens"
          ngModel
        />
      </div>
      <div class="mb-3">
        <label for="nome" class="form-label" nome>Selecione o portifólio</label>
        <select
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
          name="category"
          ngModel
        >
          <option selected>Open this select menu</option>
          <option value="casamento">Casamento</option>
          <option value="aniversario">Aniversário</option>
          <option value="debutante">Debutante</option>
          <option value="parto">Parto</option>
        </select>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <button (click)="editCreateToggle()" class="btn btn-primary">
          Editar
        </button>
      </div>
    </div>
  </form>
</div>
<ng-template #elseCreate>
  <app-portifolio-edit-form
    (closeEditForm)="editCreateToggle()"
  ></app-portifolio-edit-form>
</ng-template>
