<div class="budget-saved shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <div class="modal-header">
    <button
      type="button"
      (click)="CloseLoginPopup()"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    >
      x
    </button>
  </div>
  <div class="container summary_budget">
    <h2>{{ fixedBudget.budgetTitle }}</h2>
    <p>{{ fixedBudget.serviceDescription }}</p>
    <p>{{ fixedBudget.deadline }}</p>
    <p>{{ fixedBudget.InitialPrice }}</p>

    <div *ngFor="let item of newDataBudget">
      <p>{{ item.extraServiceTitle }}</p>
      <p>{{ item.serviceDescription }}</p>
      <p>{{ item.serviceValue }}</p>
    </div>
  </div>
</div>
