<div class="content_popup_login">
  <button
    *ngIf="!openMenu"
    (click)="openMenu = !openMenu"
    data-btn="mobile"
  ></button>
  <ul *ngIf="openMenu">
    <li class="closeBtn" (click)="openMenu = !openMenu">x</li>
    <li
      [routerLink]="item.route + item.evento"
      *ngFor="let item of getEventType"
    >
      {{ item.type }}
    </li>
    <li (click)="displayLoginPopup()">admin</li>
  </ul>

  <ng-container *ngIf="showLoginPopup">
    <app-popup-login-admin
      (closeLoginPopup)="displayLoginPopup()"
    ></app-popup-login-admin>
  </ng-container>
</div>
