[data-btn="mobile"]{
    display: none;
    position: relative;
    top: -67px;
    left: 73%;
}
[data-btn="mobile"]::before{      
    content: '';
    width: 42px;
    height: 5px;
    display: inline-block;
    background: black;
    margin-right: 4px;
    box-shadow: 0 11px black, 0 -11px black;
}
@media(max-width:600px){
  
    [data-btn="mobile"]{
        display: block !important;
        transform: translate(53%, 65px);
        width: 50px;
        background: none;
        border: none;  
    }
}
.closeBtn {
    transform: translate(90px, 1px);
    list-style-type: none;
    
}