<div class="container-menu mt-4">
  <h2>Menu Admin</h2>
  <div class="m-2 p-3">
    <button
      routerLink="/portifolioform"
      class="shadow p-3 mb-5 bg-body-tertiary rounde"
    >
      Portifólio
    </button>
  </div>
  <div class="m-2 p-3">
    <button
      routerLink="/servicebudgetform"
      class="shadow p-3 mb-5 bg-body-tertiary rounde"
    >
      Contrato e Serviços
    </button>
  </div>
  <div class="m-2 p-3">
    <button class="shadow p-3 mb-5 bg-body-tertiary rounde">Clientes</button>
  </div>
  <div class="m-2 p-3" routerLink="/mainmenuform">
    <button class="shadow p-3 mb-5 bg-body-tertiary rounde">
      Menu Principal
    </button>
  </div>
</div>
