.container-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 80%;
    margin: 0 auto;
    h2{
        text-align: center;
        margin: 10px 0;
    }
    button{
        width:100%;
        padding: 5px;
        border-radius: 10px;
        
        
    }
}