<div class="popup_budget_extra">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">
      Crie seu novo item opcinal
    </h1>
    <button
      (click)="closeItemPopup()"
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <form #f="ngForm" class="form p-3" (ngSubmit)="onSubmit(f)">
    <div class="form-group container-sm">
      <div class="mb-3">
        <label for="nome" class="form-label" nome>Titulo do item</label>
        <input
          type="text"
          class="form-control"
          name="extraServiceTitle"
          ngModel
        />
      </div>
      <div class="mb-3">
        <input
          type="hidden"
          name="category"
          [(ngModel)]="categoryExtraService"
        />
      </div>
      <input type="hidden" name="valueChange" [ngModel]="12" />
      <input type="hidden" name="check" [(ngModel)]="standardValurCheck" />

      <label for="nome" class="form-label" nome>Descrição do serviço</label>
      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          name="serviceDescription"
          id="floatingTextarea2Disabled"
          style="height: 100px"
          ngModel
        ></textarea>
      </div>
      <div>
        <div class="mb-3">
          <label for="nome" class="form-label" nome>Link para serviço</label>
          <input type="text" class="form-control" name="linkService" ngModel />
        </div>
      </div>
      <div>
        <div class="mb-3">
          <label for="nome" class="form-label" nome>Valor do serviço</label>
          <input
            type="number"
            class="form-control"
            name="serviceValue"
            ngModel
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">clique</button>
    </div>
  </form>

  <div class="d-flex justify-content-end">
    <button (click)="editService()" class="btn btn-primary">
      Editar serviços
    </button>
  </div>
</div>
