<div class="popup_budget_extra">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">
      Crie seu novo item opcinal
    </h1>
    <button
      (click)="closeItemPopup()"
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>

  <form #f="ngForm" class="form p-3" (ngSubmit)="onSubmit()">
    <div class="form-group container-sm">
      <div class="mb-3">
        <label for="nome" class="form-label" nome>Titulo do item</label>
        <input
          type="text"
          class="form-control"
          name="image"
          placeholder="Imagens"
          ngModel
        />
      </div>
      <label for="nome" class="form-label" nome>Descrição do serviço</label>
      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          id="floatingTextarea2Disabled"
          style="height: 100px"
          disabled
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="nome" class="form-label" nome>Selecione o portifólio</label>
        <select
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
          name="category"
          ngModel
        >
          <option selected>Open this select menu</option>
          <option value="casamento">Casamento</option>
          <option value="aniversário">Aniversário</option>
          <option value="bodas">Bodas</option>
          <option value="parto">Parto</option>
        </select>
      </div>
      <div>
        <div class="mb-3">
          <label for="nome" class="form-label" nome>Valor do serviço</label>
          <input
            type="number"
            class="form-control"
            name="image"
            placeholder="Imagens"
            ngModel
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">clique</button>
    </div>
  </form>
</div>
