{{ customerIdBiggestNumber }}
<form #f="ngForm" class="form" (ngSubmit)="onSubmit(f)">
  <div class="form-group container-sm">
    <div class="mb-3">
      <input type="hidden" name="id" [ngModel]="customerIdBiggestNumber" />
      <label for="nome" class="form-label" nome>Nome</label>
      <input
        type="text"
        class="form-control"
        name="nome"
        [ngModel]="formUser.name"
        placeholder="Nome"
      />
      <label for="email" class="form-label" nome>Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [ngModel]="formUser.email"
        placeholder="Email"
      />
      <label class="form-label" for="mobile" nome>Celular</label>
      <input
        type="text"
        class="form-control"
        id="mobile"
        name="phone"
        [ngModel]="formUser.phone"
        placeholder="Email"
      />
      <label class="form-label" for="date" nome>Data do evento</label>
      <input
        type="date"
        class="form-control"
        id="date"
        name="date"
        [ngModel]="formUser.date"
        placeholder="Data do evento"
      />
    </div>
    <button type="submit" class="btn btn-primary">clique</button>
  </div>
</form>
