.show-case{
        background-color:none;
    width: 80%;
    margin: 2px 10%;
    display: flex;
    flex-wrap: wrap;
    div{
        margin:auto;
        cursor: pointer;
        h3{
            max-width:300px;       
        }
        .img-content{
            max-width:300px;
            max-height: 160px;
            overflow:hidden;
            img{
                width:100%;
    
            }
        }

    }
   
}