<!-- <div class="social-events-content">
  <button
    class="social-events-content__btn global"
    *ngFor="let item of eventType"
    [routerLink]="item.route + item.evento"
  >
    {{ item.type }}
    {{ item.route }}
    {{ item.evento }}
  </button> -->
<div class="show-case">
  <ng-container *ngFor="let item of eventType">
    <div [routerLink]="item.route + item.evento">
      <h3 class="show-case__title">{{ item.type }}</h3>
      <div class="img-content">
        <img [src]="item.image" alt="" />
      </div>
    </div>
  </ng-container>
</div>
<!-- </div> -->
