<div
  class="container_popup_admin_login shadow-lg p-3 mb-5 bg-body-tertiary rounded"
>
  <div class="mb-3" [hidden]="!readonly">
    <label for="nome" class="form-label" nome>Selecione o serviço</label>
    <select
      class="form-select form-select-sm"
      aria-label=".form-select-sm example"
      name="category"
      #category
      (change)="searchData(category)"
    >
      <option selected>Open this select menu</option>
      <option value="casamento">Casamento</option>
      <option value="aniversario">Aniversário</option>
      <option value="debutante">Debutante</option>
      <option value="parto">Parto</option>
    </select>
  </div>
</div>

<div
  class="container_popup_admin_login shadow-lg p-3 mb-5 bg-body-tertiary rounded"
>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">
      Cadastre seus falores e serviços
    </h1>
    <button
      routerLink="/menuadmin"
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>

  <form #productEdit="ngForm" class="form p-3" (ngSubmit)="onEdit(productEdit)">
    <input type="hidden" name="id" id="id" ngModel />
    <div class="form-group container-sm">
      <div class="mb-3">
        <label for="nome" class="form-label" nome>Titulo do orçamento</label>
        <input
          type="text"
          class="form-control"
          name="budgetTitle"
          id="budgetTitle"
          ngModel
          [disabled]="readonly"
        />
      </div>
      <label for="nome" class="form-label" nome>Descrição do serviço</label>
      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          ngModel
          name="serviceDescription"
          id="serviceDescription"
          ngModel
          style="height: 100px"
          [disabled]="readonly"
        ></textarea>
      </div>
      <div class="mb-3" [hidden]="!readonly">
        <label for="nome" class="form-label" nome>Serviço Selecionado</label>
        <input
          type="text"
          class="form-control"
          name="category"
          id="category"
          ngModel
        />
      </div>

      <div>
        <div class="mb-3">
          <label for="nome" class="form-label" nome
            >Valor inicial do serviço</label
          >
          <input
            type="number"
            class="form-control"
            name="InitialPrice"
            ngModel
            [disabled]="readonly"
          />
        </div>
        <div class="mb-3">
          <label for="nome" class="form-label" nome>Prazo de entrega</label>
          <input
            type="text"
            class="form-control"
            name="deadline"
            ngModel
            [disabled]="readonly"
          />
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="readonly">
        Editar
      </button>
    </div>
  </form>
  <div class="d-flex justify-content-end">
    <p class="mx-3 me-auto" style="margin-right: 1rem">
      Acrescente serviços aqui
    </p>
    <button
      (click)="toggleItemPopup()"
      type="button"
      class="btn btn-primary rounded-circle btn-lg"
      style="
        --bs-btn-padding-y: 0.5rem;
        --bs-btn-padding-x: 0.75rem;
        --bs-btn-font-size: 1rem;
      "
    >
      +
    </button>
  </div>
</div>
<ng-container *ngIf="itemPopup">
  <app-popup-budget-extra-item
    (closePopup)="toggleItemPopup()"
  ></app-popup-budget-extra-item>
</ng-container>
