<form #f="ngForm" class="form" (ngSubmit)="onSubmit(f)">
  <div class="form-group container-sm">
    <h3>Preencha os seus dados</h3>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="name"
        ngModel
        placeholder="Nome"
      />
      <label for="email" class="form-label" nome>Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        ngModel
        placeholder="Email"
      />
      <label class="form-label" for="mobile" nome>Celular</label>
      <input
        type="text"
        class="form-control"
        id="mobile"
        name="phone"
        ngModel
        placeholder="Celular"
      />
      <label class="form-label" for="date" nome>Data do evento</label>
      <input
        type="date"
        class="form-control"
        id="date"
        name="date"
        ngModel
        placeholder="Data do evento"
      />
    </div>
    <button type="submit" class="btn btn-primary">clique</button>
  </div>
</form>
