<h3>{{ fixedBudget.budgetTitle }}</h3>
<p>{{ fixedBudget.serviceDescription }}</p>
<p>{{ fixedBudget.InitialPrice }}</p>
<p>{{ fixedBudget.deadline }}</p>

<app-check
  [initialValue]="fixedBudget.InitialPrice"
  (parentFunction)="parentFunction($event)"
></app-check>
<p>
  Valor final <span>{{ TotalValueBudget }}</span>
</p>
<button (click)="saveBudget()">Salvar</button>
<app-budget-saved
  *ngIf="budgetChosed"
  [newDataBudget]="newDataBudget"
  [TotalValueBudget]="TotalValueBudget"
  [fixedBudget]="fixedBudget"
>
</app-budget-saved>
